<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/6dda0aaec3.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand border-bottom ">
        <%= link_to image_tag("cake.png", :size =>'100x100'), '/' %>
        <ul class="navbar-nav ml-auto">
          <div class="d-flex flex-column bd-highlight mb-3">
            <div>
              <% if admin_signed_in? %>
              <div class="d-flex flex-row-reverse bd-highlight">
                <li class="nav-item">
                  <%= link_to "商品一覧", admins_items_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "会員一覧", admins_customers_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "注文履歴一覧", admin_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
                </li>

              </div>
              <% elsif customer_signed_in? %>
              <div class="d-flex flex-row-reverse bd-highlight">
                <li class="nav-item">
                  <%= link_to "マイページ", customer_path(current_customer.id), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "商品一覧", items_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "カート", cart_items_path, class: "nav-link" %>
                  </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "nav-link" %>
                </li>
              </div>
              <% else %>
              <div class="d-flex flex-row-reverse bd-highlight">
                <li class="nav-item">
                  <%= link_to "About", about_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "商品一覧", items_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: "nav-link" %>
                  </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: "nav-link" %>
                </li>
              </div>
              <% end %>

            </div>

        <div>
          <%= text_field_tag :search %>
          <%= submit_tag 'Search' %>

        </div>
        </div>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="w-100 border-top" style="height: 100px;"></div>
    </footer>
  </body>
</html>
